<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<img id="img-of-the-day">
<form action="/comment" method="post" th:object="${comments}">
    <input type="hidden" th:field="*{id}">
    <input type="number" min="1" max="5" th:field="*{rate}"><br>
    <label >Author:</label>
    <input type="text" th:field="*{name}"><br>
    <label >Comment:</label>
    <textarea th:field="*{comment}" id="" cols="30" rows="10"></textarea><br>
    <input type="hidden" th:field="*{like}" value="0">
    <button type="submit"> Comment </button>
</form>
</body>
<script>
    let query = 'https://api.nasa.gov/planetary/apod?api_key=4K0afVpJKcDnZmyStNDETwg09n1XWvtDUiINYSXU';
    let request = new XMLHttpRequest();
    request.open('GET', query);
    request.onload = function() {
        if (request.status === 200) {
            let response = JSON.parse(request.responseText);
            document.getElementById('img-of-the-day').setAttribute('src', response.url);
        }
    };
    request.send();
</script>
</html>